
@{
    ViewBag.Title = "Guide Book";
    ViewBag.pTitle = "Book";
    ViewBag.xData = "Book";
    ViewBag.ActiveItem = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start All Card -->
<div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
        <div class="card">
            <h2 class="mb-4 text-base font-semibold text-black capitalize dark:text-white/80">
                Create Scrap Page
            </h2>

            <div class="swiper SwiperwithProgress" dir="ltr">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="~/assets/UserGuideBook/1.png" alt="slider" class="object-cover w-full h-[500px]" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/assets/UserGuideBook/2.png" alt="slider" class="object-cover w-full h-[500px]" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/assets/UserGuideBook/Attachment.png" alt="slider" class="object-cover w-full h-[500px]" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/assets/UserGuideBook/3.png" alt="slider" class="object-cover w-full h-[500px]" />
                    </div>
                </div>

                <div class="text-success swiper-button-next"></div>
                <div class="text-success swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="card">
            <h2 class="mb-4 text-base font-semibold text-black capitalize dark:text-white/80">
                Scrap Records Page
            </h2>

            <div class="swiper SwiperwithProgress" dir="ltr">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="~/assets/UserGuideBook/4.png" alt="slider" class="object-cover w-full h-[500px]" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/assets/UserGuideBook/5.png" alt="slider" class="object-cover w-full h-[500px]" />
                    </div>

                </div>

                <div class="text-success swiper-button-next"></div>
                <div class="text-success swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
        <div class="card">
            <h2 class="mb-4 text-base font-semibold text-black capitalize dark:text-white/80">
                Detail Scrap Page
            </h2>

            <div class="swiper SwiperwithProgress" dir="ltr">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="~/assets/UserGuideBook/6.png" alt="slider" class="object-cover w-full h-[500px]" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/assets/UserGuideBook/7.png" alt="slider" class="object-cover w-full h-[500px]" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/assets/UserGuideBook/8.png" alt="slider" class="object-cover w-full h-[500px]" />
                    </div>
                </div>

                <div class="text-success swiper-button-next"></div>
                <div class="text-success swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="card">
            <h2 class="mb-4 text-base font-semibold text-black capitalize dark:text-white/80">
                Approve And Reject
            </h2>

            <div class="swiper SwiperwithProgress" dir="ltr">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="~/assets/UserGuideBook/9.png" alt="slider" class="object-cover w-full h-[500px]" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/assets/UserGuideBook/10.png" alt="slider" class="object-cover w-full h-[500px]" />
                    </div>

                </div>

                <div class="text-success swiper-button-next"></div>
                <div class="text-success swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="card">
            <h2 class="mb-4 text-base font-semibold text-black capitalize dark:text-white/80">
                How to Download Multiple Files
            </h2>

            <div class="swiper SwiperwithProgress" dir="ltr">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="~/assets/UserGuideBook/3-MultipleFileDownload (8).png" alt="slider" class="object-cover w-full h-[500px]" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/assets/UserGuideBook/3-MultipleFileDownload (9).png" alt="slider" class="object-cover w-full h-[500px]" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/assets/UserGuideBook/3-MultipleFileDownload (1).png" alt="slider" class="object-cover w-full h-[500px]" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/assets/UserGuideBook/3-MultipleFileDownload (2).png" alt="slider" class="object-cover w-full h-[500px]" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/assets/UserGuideBook/3-MultipleFileDownload (3).png" alt="slider" class="object-cover w-full h-[500px]" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/assets/UserGuideBook/3-MultipleFileDownload (4).png" alt="slider" class="object-cover w-full h-[500px]" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/assets/UserGuideBook/3-MultipleFileDownload (5).png" alt="slider" class="object-cover w-full h-[500px]" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/assets/UserGuideBook/3-MultipleFileDownload (6).png" alt="slider" class="object-cover w-full h-[500px]" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/assets/UserGuideBook/3-MultipleFileDownload (7).png" alt="slider" class="object-cover w-full h-[500px]" />
                    </div>


                </div>

                <div class="text-success swiper-button-next"></div>
                <div class="text-success swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="card">
            <h2 class="mb-4 text-base font-semibold text-black capitalize dark:text-white/80">
                Delegate Approval
            </h2>

            <div class="swiper SwiperwithProgress" dir="ltr">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="~/assets/UserGuideBook/11.png" alt="slider" class="object-cover w-full h-[500px]" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/assets/UserGuideBook/12.png" alt="slider" class="object-cover w-full h-[500px]" />
                    </div>
                    <div class="swiper-slide">
                        <img src="~/assets/UserGuideBook/13.png" alt="slider" class="object-cover w-full h-[500px]" />
                    </div>

                </div>

                <div class="text-success swiper-button-next"></div>
                <div class="text-success swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

</div>
<!-- End All Card -->

@section scripts{


    <script src="~/assets/libs/swiper/swiper-bundle.min.js"></script>

    <script src="~/assets/js/pages/carousel.init.js"></script>

    <script src="~/assets/js/main.js"></script>

}