<meta charset="utf-8">
<title>@ViewBag.pTitle | 4.0 - Digital Transformation Team</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Lean 4.0 Team" name="description">
<meta content="Digital Transformation" name="author">
<!-- favicon -->
<link rel="shortcut icon" href="~/assets/images/mattel-logo.png">